@{
  Layout = "_Layout";
}

@model LaMasDulce.Models.Treat

<h2>Treat details</h2>

<hr />

<h3>@Html.DisplayFor(model => model.Name)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>this treat does not have any flavors assigned to them</p>
}
else
{
  <h4>flavors this treat is qualified to contain:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName </li> 
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="remove" />
      }
    }
  </ul>
}

<ul class="menu-links">
  <li>@Html.ActionLink("edit treats", "Edit", new { id = Model.TreatId })</li>
  <li>@Html.ActionLink("delete treat", "Delete", new { id = Model.TreatId })</li>
  <li>@Html.ActionLink("assign to a flavor", "AddFlavor", new {treatId = Model.TreatId })</li>
  <li>@Html.ActionLink("back to treat directory", "Index")</li>
</ul>