@{
  Layout = "_Layout";
}

@model LaMasDulce.Models.Treat

<h2>Edit Treat details</h2>
<hr />

<h4>@Html.DisplayFor(model => model.Name)</h4>
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.Label("Name")
  @Html.EditorFor(model => model.Name, new { @class = "form-control"})


  @Html.Label("Assigned Machine")
  @Html.DropDownList("FlavorId")

  <br>
  <br>
  <input type="submit" value="Save Changes" required="true" />
}

<ul class="menu-links">
  <li>@Html.ActionLink("back to treat directory", "Index")</li>
</ul>